<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<body>
    <div class="wrapper">
        <div class="row">
            <div class="col-md-12">
                 <div class="alert alert-danger">
                     <ul>
                         <li>No se pudo establecer la conexión con el servidor, inténtelo más tarde.</li>
                     </ul>
                 </div>
             </div>
        </div>
        <center>
            <div>
                <button onclick="@Url.Action("Index")">Regresar al Login</button>
            </div>
        </center>
    </div>
   
</body>

