@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Lista de Categorias</h2>

<div class="col m12">
    <p>
        @Html.ActionLink("Crear", "Create")
    </p>

</div>
<br />
<div class="table-responsive">
    <table id="miTabla" class="table table-striped table-bordered table-hover dataTables-List" style="table-layout:fixed;">
        <thead>
            <tr class="table table-bordered">
                <th class="table-success">
                    Nombre
                </th>
                <th class="table-success">
                    Nombre
                </th>
                <th class="table-success">
                    Sucursal
                </th>
                <th class="table-success">
                    Acciones
                </th>
            </tr>
        </thead>
    </table>
</div>


@*Actualizar Contraseña*@
<div class="modal fade" id="updateModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
               Cambio de contraseña de emergencia
              
            </div>
            <div class="modal-body">
                Digite su nueva contraseña
                <input type="password" id="contra"/>
            </div>
            <div class="modal-footer">

                <button type="submit" class="btn btn-success" onclick="update()">Actualizar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closemodal(this);">Cancelar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script>
        $(document).ready(function () {
            call();
        });

        function call() {
            HoldOn.open({ theme: 'sk-circle', message: 'Espere un momento...' });
            fetch('@Url.Action("IndexJSON", "Usuarios")',
                {
                    method: 'GET',
                    headers:
                    {
                        'Content-Type': 'application/json'
                    }
                }).then(response => response.json())
                .then(data => {
                    console.log(data);
                    data.forEach(item => {
                        const fecha = new Date(item.fechaCreacion);
                        item.fechaCreacion = fecha.toLocaleString('es-ES');
                    });
                    HoldOn.close();
                    var table = $('.dataTables-List').DataTable(
                        {
                            "deferRender": true,
                            select: true,
                            responsive: true,
                            autoWidth: false,
                            bPaginate: true,
                            "ordering": true,
                            "colReorder": true,
                            dom: 'Blfrtip',
                            data: data,
                            columns:
                                [
                                    { data: "codigoUsuario", name: "codigoUsuario", autoWidth: true },
                                    { data: "nombre", name: "nombre", autoWidth: true },
                                    { data: "sucursal.nombre", name: "sucursal.nombre", autoWidth: true },

                                    {
                                        data: null,
                                        render: function (data, type, row) {
                                            var id = row.id;

                                            var buttonsHtml = '<div class="btn-group" role="group">';
                                            buttonsHtml += '<button  class="btn update-button" data-id="' + id + '" title="Actualizar contraseña"><i class="fa-solid fa-pencil" style="color:green"></i></button>';
                                            buttonsHtml += '</div>';

                                            return buttonsHtml;
                                        }
                                    },

                                ],
                            createdRow: function (row, data, dataIndex) {
                                $(row).addClass('row-with-buttons');
                            },
                            buttons:
                                [
                                    {
                                        extend: 'excel', className: 'btn-primary', excelStyles:
                                        {
                                            template: "green_medium",
                                        }
                                    }
                                ],
                            language: {
                                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                            },
                        });
                    // Manejar el evento de clic en el botón de deshabilitar
                    $('.dataTables-List').on('click', '.update-button', function () {
                        var id = $(this).data('id');
                        onclick = edit(id);
                        $('#updateModal').modal('show');
                    });

                }).catch(error => {
                    console.error(error);
                });
        }



        //Eliminar
        var selectedId;
        function edit(id) {
            selectedId = id;
        }
        function update() {
            const params = new URLSearchParams();
            params.append("id", selectedId);
            params.append("contraseña", document.getElementById('contra').value)
            fetch("@Url.Content("~/").ToString()" + "Usuarios/ActualizarContraseña", {
                method: "POST",
                headers: { "Content-Type": "application/x-www-form-urlencoded" },
                body: params
            })
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    if (data.success) {
                        MostrarSweetAlert(data.message, "success");
                    }
                    else {
                        MostrarSweetAlert(data.message, "error");
                    }

                })
                .catch(error => {
                    console.error("Error:", error);
                });
        }


        function closemodal(button) {
            // Encuentra el modal padre del botón que se hizo clic
            var modal = button.closest('.modal');

            // Si se encuentra el modal, ciérralo
            if (modal) {
                $(modal).modal('hide');
            }
        }

        function MostrarSweetAlert(msj, tp) {
            switch (tp) {
                case "success":
                    swal("Éxito", msj, tp);
                    $("button.confirm").text("Aceptar").click(function () { location.reload(); });
                    break;
                case "error":
                    swal("Error", msj, tp);
                    break;
                case "warning":
                    swal("Advertencia", msj, tp);
                    break;

            }
        }



    </script>
}


